html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    height: 69px;
    position: fixed;
    display: block;
    width: 100%;
    background-color: black;
    top: 0px;
    border-bottom: 1px solid seashell;
}

.logo {
    margin: 10px;
    height: 50px;
    float: left;
}

.navigation {
    float: right;
    height:100%;
    margin: auto;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 10px 10px;
    margin-right: 10px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
}

.mission-container {
    background-image: url(img/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
}

.text-over {
    margin: auto;
    width: 100%;
    background-color: black;
}

.trend-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trend img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.banner {
    background-image: url(img/Locations.jpg);
    background-repeat: no-repeat;
    min-height: 500px;
    max-width: 1200px; 
    margin: auto;
}

.locations-box { 
    padding: 3%;
}

.address-box { 
    min-width: 300px;
    background-color: black;
    margin: 15px 20px;
    display: inline-flex;
    flex-direction: column;
}

.footer {
    float: left;
}